<nav class="navbar">
  <div class="logo">
    <img src="../../assets/Logo.svg" alt="Logo">
  </div>
  <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
    <li><a routerLink="/events">Events</a></li>
    <li><a routerLink="/tours">Tours</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a href="#"><img src="../../assets/icon.svg" alt=""></a></li>
  </ul>
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
