.events {
  padding: 40px;
  background-color: #f3dbc0;
  z-index: 1000;
}
.events h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}
.event-list {
  display: flex;
  justify-content: space-around;
}
.event-card {
  background-color: #dda86f;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}
.event-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.event-card p {
  margin-bottom: 20px;
}
.event-card button {
  background-color: #034f84;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
