button {
    min-width: auto;
}
.card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-color);
    min-height: 350px;
    height: auto;
    border-radius: 20px;
    color: var(--text-color);
    font-family: "Josefin Sans", sans-serif;
}
.info-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    padding: 20px;
    font-size: 14px;
    justify-content: space-between;
}
.info-container h2 {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 24px;
}
.info-container p {
    min-height: 50%;
}
.info-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.mini-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.mini-info-container svg {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.button{
    aspect-ratio: 155/46;
    height: 32px;
    border-radius: 10px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    margin-right: 5px;
}
.main {
    background-color: var(--accent-color);
    color: var(--text-color);
}
.secondary {
    background-color: var(--gray-button-bg);
    color: var(--gray-button-text);
    aspect-ratio: 100/46;
}

/* -- */
.slider-container {
    display: flex;
    width: 58%;
    padding: 10px;
}
.images-container{
    width: 95%;
    position: relative;
}
.box {
    position: absolute;
    width: 90%;
    height: 92%;
    border-radius: 15px; /* Rounded corners */
    /* top: 10px; */
}
.one {
    background-color: #e0e0e0; 
    top: 10px;
    left: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* First box shadow */
}
.two {
    background-color: #D9D9D9; 
    top: 25px;
    left: 8px;
    height: 82%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Second box shadow */
}
.three {
    background-color: #B8B8B8; 
    top: 40px;
    left: 16px;
    height: 72%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Third box shadow */
}
.buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 5%;
    /* overflow: hidden; */
}
.buttons-container button {
    height: 100px;
    background-color: var(--primary-light);
    border: none;
    color: var(--primary-color);
    padding: 0;
    width: 100%;
    min-width: 100%;
}
#btn1 {
    width: 25px;
    border-radius:50px 50px 0 0;
    border-bottom: 1px solid var(--primary-color);
}
#btn2 {
    width: 25px;
    border-radius: 0 0 50px 50px;
    border-top: 1px solid var(--primary-color);
}
.buttons-container button:hover {
    background-color: #F0D1AF;
    transition: 0.1s;
}

/* -- */
.provider-container {
    width: 10%;
    padding: 15px;
}
.provider-container h2{
    margin:5px 0 0 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.provider-container svg{
    filter: brightness(0) invert(1);
    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
}
.provider-container img{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10px;
}
.tag-contaier {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    margin-top: 5px;
}
