<app-navbar></app-navbar>
<main>
    <div class="banner">
        <h1>Take a look at our events</h1>
        <h3>Events are set up by our trusted partners throughout the country and are celebrations, festivals, or simply
            for entertainment.</h3>
        <h6>You can search the events using the filters bellow.</h6>
    </div>
    <div class="bottom-section">

        <app-filter-bar></app-filter-bar>

        <div class="event-cards-container">
            <app-eventcard></app-eventcard>
            <app-eventcard></app-eventcard>
            <app-eventcard></app-eventcard>
            <app-eventcard></app-eventcard>
            <app-eventcard></app-eventcard>
        </div>

    </div>
</main>
<app-footer></app-footer>