<section class="events">
  <h1>Recent Events</h1>
  <div class="event-list">
    <div class="event-card">
      <div class="img">
        <img src="../../../assets/imgs/Pyramids.jpg" alt="Event1">
      </div>
      <div class="details">
        <h3>Luxury Desert Safari</h3>
      <p>Experience the beauty of the Egyptian desert.</p>
      <button>Learn More</button>
      </div>

    </div>
    <div class="event-card">
      <div class="img">
        <img src="../../../assets/dark-pyramids.png" alt="Event1">
      </div>
      <div class="details">
        <h3>Luxury Desert Safari</h3>
      <p>Experience the beauty of the Egyptian desert.</p>
      <button>Learn More</button>
      </div>

    </div>
    <div class="event-card">
      <div class="img">
        <img src="../../../assets/imgs/bkg_one.jpg" alt="Event1">
      </div>
      <div class="details">
        <h3>Luxury Desert Safari</h3>
      <p>Experience the beauty of the Egyptian desert.</p>
      <button>Learn More</button>
      </div>

    </div>
    <div class="event-card">
      <div class="img">
        <img src="../../../assets/imgs/pattern_one.jpg" alt="Event1">
      </div>
      <div class="details">
        <h3>Luxury Desert Safari</h3>
      <p>Experience the beauty of the Egyptian desert.</p>
      <button>Learn More</button>
      </div>
    </div>
  </div>

  <div class="pagination">
    <span class="dot" active></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>
