.events {
  margin-top: 0;
  padding: 50px 0;
  background-color: #dda86f;
  z-index: 1000;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}

.events h1 {
  text-align: left;
  margin-bottom: 40px;
  font-size: 36px;
  color: #fff;
}

/* تعديل التصميم ليكون مرنًا */
.event-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* للسماح بتغيير وضع البطاقات على الشاشات الصغيرة */
}

.event-card {
  background-color: #f3dbc0;
  padding: 30px;
  border-radius: 8px;
  width: 30%; /* العرض الأساسي على الشاشات الكبيرة */
  text-align: center;
  margin-bottom: 20px; /* مسافة بين البطاقات على الشاشات الصغيرة */
  transition: transform 0.3s;

}
.event-card:hover {
  transform: scale(1.05);
}
img{
  width: 100%;
  height: 300px;
  background-color: #dda86f;
}
.event-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.event-card p {
  margin-bottom: 20px;
}

.event-card button {
  background-color: #034f84;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;

}
.event-card button:hover{
  transform: scale(1.01);
  background-color: #0a5e9a;
}

/* Pagination dots */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color:#f3dbc0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination .dot:hover {
  background-color: #054e9d;
}
.pagination .dot:active {
  background-color: #054e9d;
}

/* تعديلات لشاشات العرض المتوسطة والصغيرة */
@media (max-width: 768px) {
  .event-card {
    width: 45%; /* تجعل البطاقات تأخذ عرض أكبر على الشاشات المتوسطة */
    margin-left: 0;
  }
  .event-card:hover {
    transform: scale(1.02);
  }
  .events h2 {
    font-size: 28px; /* تقليل حجم العنوان للشاشات المتوسطة */
  }

  .event-card h3 {
    font-size: 20px; /* تقليل حجم عناوين البطاقات */
  }

  .event-card p {
    font-size: 14px; /* تقليل حجم النص في البطاقات */
  }

  .event-card button {
    padding: 8px 12px; /* تعديل حجم الأزرار للشاشات المتوسطة */
  }
}

/* تعديلات لشاشات الهواتف الصغيرة */
@media (max-width: 480px) {
  .event-card {
    width: 85%; /* تجعل البطاقات تأخذ العرض الكامل على الهواتف */
  }

  .event-list {
    flex-direction: column; /* ترتيب البطاقات عموديًا */
    align-items: center; /* توسيط البطاقات في العمود */
  }

  .events h2 {
    font-size: 24px; /* تقليل حجم العنوان للشاشات الصغيرة */
  }

  .event-card h3 {
    font-size: 18px; /* تقليل حجم عناوين البطاقات على الهواتف */
  }

  .event-card p {
    font-size: 12px; /* تقليل حجم النص في البطاقات على الهواتف */
  }

  .event-card button {
    padding: 6px 10px; /* تقليل حجم الأزرار على الهواتف */
  }
}

