<app-navbar></app-navbar>
<div class="parent-container">
    <div class="thumbnail">
        <img class="thumbnail-img" src="/assets/imgs/bkg_one.jpg" alt="" srcset="">
        <p class="event-name-title">LUXOR LIGHT SHOW</p>
    </div>
    <div class="content">
        <div class="left-section">
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dicta veniam mollitia
                sit ullam voluptatum. Distinctio corporis labore facilis nisi enim dolorem ipsam veniam odio obcaecati
                odit, adipisci officia aspernatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
                consectetur asperiores blanditiis. Quisquam porro sit error, ut est, eos molestias possimus corrupti
                ipsam dolor voluptatum, quidem sint nemo voluptas corporis!</p>

            <div class="imgs-group">
                <div class="content-img">
                    <img src="/assets/imgs/bkg_one.jpg" alt="" srcset="">
                </div>
                <div class="content-img">
                    <img src="/assets/imgs/bkg_one.jpg" alt="" srcset="">
                </div>
            </div>

            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dicta veniam mollitia
                sit ullam voluptatum. Distinctio corporis labore facilis nisi enim dolorem ipsam veniam odio obcaecati
                odit, adipisci officia aspernatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
                consectetur asperiores blanditiis. Quisquam porro sit error, ut est, eos molestias possimus corrupti
                ipsam dolor voluptatum, quidem sint nemo voluptas corporis!</p>

            <div class="content-img">
                <img src="/assets/imgs/bkg_one.jpg" alt="" srcset="">
            </div>

            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo dicta veniam mollitia
                sit ullam voluptatum. Distinctio corporis labore facilis nisi enim dolorem ipsam veniam odio obcaecati
                odit, adipisci officia aspernatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
                consectetur asperiores blanditiis. Quisquam porro sit error, ut est, eos molestias possimus corrupti
                ipsam dolor voluptatum, quidem sint nemo voluptas corporis!</p>
        </div>
        <div class="right-section">
            <div class="company-card">
                <div class="row">
                    <div class="company-img"></div>
                    <div class="col">
                        <div class="company-name">Elrehab travel</div>
                        <div class="company-location"><i class="fa-solid fa-location-dot"></i><span>Cairo -
                                Sheraton</span></div>
                        <div class="company-website"><i class="fa-solid fa-globe"></i><span>elrehabtrvl.com</span></div>
                        <div class="trusted-patch"><i class="fa-solid fa-certificate"></i><span>Trusted Partner</span>
                        </div>
                    </div>
                </div>
                <div class="row-2">
                    <div class="event-type">tour</div>
                    <div class="event-name">GIZA TOUR</div>
                </div>
                <div class="event-location"><i class="fa-solid fa-location-dot"></i><span>Giza - somewhere in
                        giza</span></div>
            </div>
            <!-- <div class="ticket-card">
                <div>
                    <p>Ticket are:</p>
                    <div class="available">Available!</div>
                </div>
                <div>
                    <span>Ticket price:</span><span class="price">32$</span><span class="save">Save</span><span
                        class="discount">-50%</span>
                </div>
                <div>
                    <button type="button" id="booking"><span>Booking Now</span></button>
                    <span class="sale-for">SALE FOR<span class="time">02:15:00</span> </span>
                </div>
            </div> -->
            <div class="tour-guide-card">
                <div class="row">
                    <div class="guide-img"></div>
                    <div class="col">
                        <div class="guide-name">Ahmed Badawi</div>
                        <div class="guide-languages">
                            <i class="fa-solid fa-language"></i><span>English</span>
                            <div class="vc"></div><span>Spanish</span>
                        </div>
                        <div class="experience"><span>Experience:</span><span> 12 years</span>

                        </div>
                        <div class="rating">
                            <div>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <span>3.5 / 5</span>
                        </div>
                    </div>
                    <p class="tour-info">TOUR INFO</p>
                    <p class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit alias excepturi enim, minima quis
                        similique! Pariatur est a numquam voluptatum vero quia natus neque, et nisi omnis eos. Repellat,
                        sequi?
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>