<div class="egypt"></div>
<div class="container">
  <div class="box2">
    <div class="box">
      <div class="content">
    
        
        <form id="loginForm" class="for" action="">
          <div class="input-container">
            <img src="/assets/imgs/sandTxt.jpg"alt="Google icon">
            <input class="input" type="text" placeholder="Sign in with Google" disabled>
          </div>
          <div class="divider">
            <span>or</span>
          </div>
          <input class="inputt" id="email" type="email" placeholder="email address" required>
          <input class="inputt pt" id="password" type="password" placeholder="password" required>
          <label class="check">
            <input type="checkbox">
            <span>Remember me?</span>
          </label>
          <div class="button">
            <button type="submit" class="b1">Login</button> 
            <button class="b2" type="button">Sign up</button>
          </div>
        </form>
        <div id="message"></div> 
      </div>
    </div>
  </div>
</div>

<img src="/assets/Logo.jpg" alt="Logo" style="position: absolute; top: 10px; left: 20px;">
