<section class="tours">
  <h1>Tours</h1>
  <div><app-brand></app-brand></div>

  <div class="tour-list">
    <div class="tour-card">
      <h3>Cairo City Tour</h3>
      <div className="images">
        <div class="main-img">
          <img src="" alt="">
        </div>
        <div class="sub-image">
          <div><img src="" alt=""></div>
          <div><img src="" alt=""></div>
        </div>
      </div>
      <p>Discover the heart of Egypt’s capital.</p>
      <button>Learn More</button>
    </div>
    <div class="tour-card">
      <h3>Giza Pyramids Tour</h3>
      <div className="images">
        <div class="main-img">
          <img src="" alt="">
        </div>
        <div class="sub-image">
          <div><img src="" alt=""></div>
          <div><img src="" alt=""></div>
        </div>
      </div>
      <p>Visit one of the seven wonders of the world.</p>
      <button>Learn More</button>
    </div>
  </div>
</section>
