.slider {
  position: relative;
  /* height: 400px; */
  background:url(../../assets/Pyramids.jpg);
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}
.text-overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.text-overlay button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
