
.parent-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: 
    linear-gradient(90deg, rgba(234, 221, 207, 0.2), rgba(234, 221, 207, 0.9)),
    url('/assets/imgs/bkg_one.jpg');
    background-size:cover;
    background-position: center;
    align-items: center;
}

.events-container{
    flex: 1;
    padding: var(--kPadding-lg);
    display: flex;
    flex-direction: column;
    gap: var(--kPadding-reg);
}

.head{
    display: flex;
    flex-direction: column;
    gap: var(--kPadding-reg);
    padding: 0 calc(var(--kPadding-reg) + var(--kPadding-reg));
    padding-bottom: calc(var(--kPadding-min));
}

.events-subTitle{
   padding-bottom: var(--kPadding-extra002);
}

.filter-bar{
    display: flex;
    justify-content: space-between;
    padding: calc(var(--kPadding-reg) * 1.5);
    background-color: var(--kdark-yellow);
    border-radius: var(--kBorder-radius-reg);
    background: 
    linear-gradient(45deg, rgba(1, 73, 117, 0.8), rgba(221, 168, 111, 1)),
    url('/assets/imgs/bkg_two.jpg');
    background-size:cover;
    background-position: center;
}

.filter-bar>#filter-Btns-container{
    display: flex;
    gap: calc(var(--kPadding-reg) * 1.5);
    flex: 0.9;
}

#mapDisplayMode{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:calc(var(--kPadding-reg)* 1.5);
}



h1{
    font-family: var(--kFont-Bebas);
    font-size: var(--kFS-title);
    color: var(--kblue-300);
}

p{
    font-family: var(--kFont-Jos);
    font-size: var(--kFS-subTitle);
    color: var(--kblue-300);
    font-weight: 500;
}


.events-hint>p{
    font-family: var(--kFont-Jos);
    font-size: var(--kFS-lg);
    color: var(--kblue-300);
    font-weight: 500;
}


.search-container{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 45px;
    flex: 1;
    width: 100%;
}

.searchBtn{
    min-width: 0px;
    padding: 0;
    grid-area: 1 / -1 / -1 / -2 ;
    border-radius: var(--kBorder-radius-reg);
    background-color: white;
    width: 45px;
    color: var(--kdark-yellow);
}

#search{
    grid-area: 1 / 1 / -1 / -1 ;
    padding-right: 50px;
}

#search:focus{
    padding: var(--kPadding-mid);
    border: solid 1px var(--kblue);
    background-color: aliceblue;
    border-radius: var(--kBorder-radius-reg);
    outline: none;
}

.maps-container{
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--kPadding-reg);
}

.map{
    flex: 1 1 auto;
    background-color: white;
    border-radius: var(--kBorder-radius-reg);
    overflow: hidden;
    border: solid 5px var(--kdark-yellow);
}

.locations-list{
    flex: 0.25 1 auto;
    padding: var(--kPadding-reg);
    border-radius: var(--kBorder-radius-reg);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    background: 
    linear-gradient(45deg, rgba(221, 168, 111, 0.8), rgba(221, 168, 111, 1)),
    url('/assets/imgs/bkg_two.jpg');
    background-size:cover;
    background-position: center;
}

#map {
    height: 100%;
}

.dropdown-m{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 6px;
}

.filter-parent{
    display: none;
}

#locationsBtnList{
    display: none;
}
/* @media (max-width:1406px) {
   .filter-bar>button,
   .filter-bar>div>button{
    padding: 6px;
   }
}

@media (max-width:1106px) {
   .filter-bar>button,
   .filter-bar>div>button{
    font-size: var(--kFS-xm);
    padding: 6px;
   }
}

@media (max-width:1132px) {
   .filter-bar>div>button{
    display: none;
   }
} */