<app-navbar></app-navbar>
<div class="container">
        <div class="events-container">
                <div class="head">
                        <div class="events-title">
                                <h1>Take a look at our events</h1>
                        </div>
                        <div class="events-subTitle">
                                <p>Events are set up by our trusted partners throughout the country and are
                                        celebrations, festivals, or
                                        simply for entertainment.</p>
                        </div>
                        <div class="events-hint">
                                <p>You can search the events using the filters bellow.</p>
                        </div>
                </div>

                <div class="filter-bar">
                        <div>
                                <button type="button" id="recent"><span>Recent</span></button>
                                <button type="button" id="name"><span>By Name</span></button>
                                <button type="button" id="location"><span>By Location</span></button>
                                <button type="button" id="provider"><span>By Provider</span></button>
                                <div class="search-container">
                                        <input type="text" name="search" id="search" placeholder="search keywords">
                                        <button type="button" name="searchBtn" id="searchBtn" class="searchBtn"><i
                                                        class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                        </div>
                        <button type="button">Events Map</button>
                </div>

                <div class="maps-container">
                        <div class="map"></div>
                        <div class="locations-list">
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                                <button type="button" id="location" name="location"><i
                                                class="fa-solid fa-location-dot"></i><span>Cairo</span></button>
                        </div>
                </div>
        </div>
        <app-footer></app-footer>
</div>