<app-navbar></app-navbar>
<main>
    <div class="banner">
        <h1>Take a look at our events</h1>
        <h3>Events are set up by our trusted partners throughout the country and are celebrations, festivals, or simply for entertainment.</h3>
        <h6>You can search the events using the filters bellow.</h6>
    </div>
    <div class="tours-stats">
        <div class="tag">
            <h2>221</h2>
            <p>total tours</p>
        </div>
        <div class="tag">
            <h2>221,212</h2>
            <p>Satisfied toursists</p>
        </div>
        <div class="tag">
            <h2>1,213</h2>
            <p>Talented guides</p>
        </div>
        <div class="tag">
            <h2>42</h2>
            <p>Partners</p>
        </div>
    </div>
    <div class="tour-cards-section">
        <div class="tour-cards-container">
            <app-tourcard></app-tourcard>
            <app-tourcard></app-tourcard>
            <app-tourcard></app-tourcard>
            <app-tourcard></app-tourcard>
        </div>
        <div class="pagination-slider">
            pagination
        </div>
    </div>
</main>
<app-footer></app-footer>