
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.light-mode{
    /* ! Dont Use This Variables */
    --kdark-yellow: #DDA86F;
    --kblue: #41ACEE;
    --kblue-200: #3998d3;
    --kblue-300: #014975;
    --klight-yellow: #f5f1ec;
    --kgray: #D9D9D9;

    /** Use This Variables Insted of Above */

    --primary-color: #DDA86F;
    --primary-light: #f5f1ec;
    --accent-color: #41ACEE;
    --text-color: white;
    --grayed-out-bg: #D7D7D7;
    --grayed-out-text: #B8B8B8;
    --gray-button-bg: #D9D9D9;
    --gray-button-text: #404040;
    --kblue-200: #3998d3;
    --kblue-300: #014975;

    --kPadding-min : 6px;
    --kPadding-mid : 10px;
    --kPadding-reg : 16px;
    --kPadding-extra001 : 29px;
    --kPadding-extra002 : 43px;
    --kPadding-mid-lg : 50px;
    --kPadding-lg : 100px;

    --kBorder-radius-min: 10px;
    --kBorder-radius-reg: 20px;

    --kFont-Bebas: "Bebas Neue", sans-serif;
    --kFont-Jos: "Josefin Sans", sans-serif;

    --kFS-title: 96px;
    --kFS-subTitle: 32px;
    --kFS-lg: 24px;
    --kFS-reg: 18px;
    --kFS-min: 16px;
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select:none;
}

app-navbar{
    position: sticky;
    top:0;
}


button{
    cursor: pointer;
    border-radius: var(--kBorder-radius-min);
    padding: var(--kPadding-mid) var(--kPadding-extra001);
    min-width: 100px;
    border: none;
    font-family: var(--kFont-Jos);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--klight-yellow);
    transition: all 0.3s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: var(--kblue-300);
    color: white;
}

span{
    color: inherit;
}

input[type="text"]{
    padding: var(--kPadding-mid);
    border: solid 1px var(--kgray);
    background-color: aliceblue;
    border-radius: var(--kBorder-radius-reg);
}


@media (max-width: 1399px) {
    .light-mode{
        --kPadding-lg : 50px
    }
}


*::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #DFE9EB;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: #d4e0e2;
  }

  *::-webkit-scrollbar-track:active {
    background-color: #d4e0e2;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--kblue-300);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--kblue-200);
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: var(--kblue-200);
  }

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* You can add global styles to this file, and also import other style files */

